
body {
    margin: 0;
    padding: 0;
}


img{
    margin: auto;
}
.page-title{
    text-align: center; 
    font-size: 50px;
}

.title-skills{
    text-align: center; 
}

.carousel-inner > .item > img {
    position: relative;
    min-width: 80%;
}

.navbar-wrapper {
    position: initial;
}

.progress {
    width: 180px;
}

.img-border{
    padding: 1px;
    border: 1px solid #ddd;
}

.img-small {
    width:35px;
    height:35px;
}

td, th {
    padding-left: 10px;
}

.center {
    margin: auto;
}